.button-group {
  display: inline-flex;
}

.button-group-horizontal {
  flex-direction: row;
}

.button-group-vertical {
  flex-direction: column;
}

.button-group-spacing-none {
  gap: 0;
}

.button-group-spacing-none.button-group-horizontal > *:not(:first-child) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button-group-spacing-none.button-group-horizontal > *:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group-spacing-none.button-group-vertical > *:not(:first-child) {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.button-group-spacing-none.button-group-vertical > *:not(:last-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group-spacing-sm {
  gap: 0.25rem;
}

.button-group-spacing-md {
  gap: 0.5rem;
}
