.box {
  box-sizing: border-box;
}

/* Display */
.box.display-block {
  display: block;
}

.box.display-inline {
  display: inline;
}

.box.display-flex {
  display: flex;
}

.box.display-inline-flex {
  display: inline-flex;
}

.box.display-grid {
  display: grid;
}

.box.display-inline-grid {
  display: inline-grid;
}

/* Padding */
.box.padding-none {
  padding: 0;
}

.box.padding-xs {
  padding: var(--spacing-xs);
}

.box.padding-sm {
  padding: var(--spacing-sm);
}

.box.padding-md {
  padding: var(--spacing-md);
}

.box.padding-lg {
  padding: var(--spacing-lg);
}

.box.padding-xl {
  padding: var(--spacing-xl);
}

/* Margin */
.box.margin-none {
  margin: 0;
}

.box.margin-xs {
  margin: var(--spacing-xs);
}

.box.margin-sm {
  margin: var(--spacing-sm);
}

.box.margin-md {
  margin: var(--spacing-md);
}

.box.margin-lg {
  margin: var(--spacing-lg);
}

.box.margin-xl {
  margin: var(--spacing-xl);
}

/* Text alignment */
.box.text-left {
  text-align: left;
}

.box.text-center {
  text-align: center;
}

.box.text-right {
  text-align: right;
}
